<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/header :: header" />
    <link rel="stylesheet" href="/css/cartList.css">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 왼쪽 사이드 바 시작 -->
    <!-- th:replace로 templates안에 fragments 폴더안에 side_bar.html 받아오게 함 -->
    <!-- 수정할 내용은 side_bar.html 에서 해주시면 다 적용됩니다 -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <div th:replace="fragments/side_bar :: side_bar" />
    </ul>
    <!-- 왼쪽 사이드 바 끝 -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- 상단의 nav 바 시작 -->
            <!-- 이것도 수정하실거 있으시면 fragments 폭더에 nav_bar 수정해주시면 됩니다 -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div th:replace="fragments/nav_bar :: nav_bar" />
            </nav>
            <!-- 상단의 nav 바 끝 -->

            <!-- 바디 부분 시작 -->
            <div class="container-fluid">
                <div class="cart_area">
                    <p class="cart_title">장바구니</p>
                    <script>

                        function deleteCart(id) {
                            $(".cart_del").attr("disabled", true);
                            $.ajax ({
                                url : "/carts/delete",
                                data : {"id": id },
                                type : "POST",
                                success : function() {
                                    $(".cart_del").attr("disabled", false);
                                    location.reload();
                                }
                            });


                        }
                        function addOrder(cartId) {
                            $(".buy_btn").attr("disabled", true);
                            alert("cartId : " + cartId);
                            $.ajax ({
                                url : "/orders/add",
                                type : "POST",
                                data : {"cartId" : cartId},
                                success : function() {
                                    $(".buy_btn").attr("disabled", false);
                                    location.reload();
                                },
                                error : function() {alert('ajax error')}
                            })

                        }
                    </script>
                    <div class="btn_area">
                        <button class="select_all">전체선택</button>
                    </div>
                    <ul class="cart_list">
                        <li class="cart_index">
                            <div class="cart_img">이미지</div>
                            <div class="cart_title">상품이름</div>
                            <div class="cart_price">가격</div>
                            <div class="cart_del">삭제</div>
                        </li>
                        <li class="cart_items" th:each="cartItem: ${cart.getList()}">
                            <form onsubmit="return false;">
                                <div class="cart_img"><img th:src="${cartItem.getItem().getImage()}"></img></div>
                                <div class="cart_title" th:text="${cartItem.getItem().getName()}"></div>
                                <div class="cart_price" th:text="${cartItem.getItem().getPrice()}"></div>
                                <div class="cart_del"><button th:onclick="|deleteCart(${cartItem.getId()})|">삭제</button></div>
                            </form>
                        </li>
                    </ul>
                    <div class="total_area">
                        <p class="total_price">총 금액 : <span th:text="${cart.getTotalPrice()}"></span> 원</p>
                        <button class="buy_btn" th:onclick="|addOrder(${cart.getMember().getId()})|">구매하기</button>
                    </div>


                    <div class="address_cheek">
                        <p class="address_title">배송지 확인</p>
                        <div class="address_area" th:with="member = ${cart.getMember()}">
                            <div class="address_txt01">주소 : <span th:text="${member.getAddress().getCity() + member.getAddress().getStreet()}"></span> </div>
                            <div class="address_txt02">상세주소 : <span th:text="${member.getAddress().getZipcode()}"></span> </div>
                            <button class="change_btn">배송지 변경</button>
                        </div>
                    </div>
                    <div class="modal-wrapper" style="display: none;">
                    <div class="address_popup">

                        <div class="add_pop_txt03">
                            <label for="">주소</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="add_pop_txt04">
                            <label for="">상세주소</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="add_pop_txt05">
                            <label for="">메모</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="pop_btn_area">
                            <button class="edit_btn">수정</button>
                            <button class="cancel_btn">취소</button>
                        </div>
                    </div>

                </div>
                </div>
            </div>
            <!-- 바디 부분 시작 -->

            <script>
                $(function() {
                    $('.change_btn').click(function() {
                        // 모달창 띄우기
                        $('.modal-wrapper').css({
                            'display': 'block',
                            'z-index': '9999'
                        });
                    });

                    $('.cancel_btn').click(function() {
                        // 모달창 닫기
                        $('.modal-wrapper').css({
                            'display': 'none'
                        });
                    });

                    $('body').on('click', '.edit_btn', function() {
                        // 수정 버튼 클릭 시 동작할 코드 작성
                        console.log('수정 버튼 클릭됨');
                    });
                });


            </script>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>

</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/logout :: logout"/>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>