<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"/>
    <link rel="stylesheet" href="/css/item_show.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 왼쪽 사이드 바 시작 -->
    <!-- th:replace로 templates안에 fragments 폴더안에 side_bar.html 받아오게 함 -->
    <!-- 수정할 내용은 side_bar.html 에서 해주시면 다 적용됩니다 -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <div th:replace="fragments/side_bar :: side_bar"/>

    </ul>
    <!-- 왼쪽 사이드 바 끝 -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- 상단의 nav 바 시작 -->
            <!-- 이것도 수정하실거 있으시면 fragments 폭더에 nav_bar 수정해주시면 됩니다 -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div th:replace="fragments/nav_bar :: nav_bar"/>
            </nav>
            <!-- 상단의 nav 바 끝 -->

            <!-- 바디 부분 시작 -->


            <div class="container-fluid">
                <div class="right_contents hover_box" id="goods_list">

                    <div class="boxed-list-wrapper">

                        <!-- 현재 페이지 번호 -->
                        <ul class="items_list">
                            <li class="items_box"
                                th:each="item : ${itemList}">
                                <div class="img_box" id="dataTable">
                                    <a class="img-block"
                                       th:href="@{/item/info/{id}(id=${item.id})}">
                                        <img class="lazyload lazy" th:src="${item.image}"
                                             style="display: block;">
                                    </a>
                                </div>
                                <div class="item_name">
                                    <p class="item_txt01"><a
                                            th:href="@{/item/info/{id}(id=${item.id})}"
                                            th:text="${item.name}"></a></p>
                                    <p class="item_txt02">부가설명</p>
                                </div>
                                <div class="item_price">
                                    <p class="price" th:text="${item.price}"></p>
                                    원
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- 페이지 번호 링크 -->


                </div>
            </div>
        </div>
    </div>

</div>
<div class="pagination">

    <ul class="pagination-box">
        <!-- 이전 페이지 링크 -->
        <li th:if="${pagination.page > pagination.pageSize}">
            <a th:href="@{/item/prev(page=${pagination.startPage - 1}, totalPages=${pagination.totalPages}, id=${id})}"><</a>
        </li>
        <li th:if="${pagination.page > 1}">
            <a th:href="@{/item/prev(page=${pagination.page - 1}, totalPages=${pagination.totalPages}, id=${id})}">이전</a>
        </li>
        <!-- 페이지 번호 링크 -->
        <li th:each="pageNumber : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
            th:class="${pageNumber == pagination.page} ? 'active' : ''">
            <a th:href="@{/item(page=${pageNumber}, totalPages=${pagination.totalPages}, id=${id})}"
               th:text="${pageNumber}"></a>
        </li>
        <!-- 다음 페이지 링크 -->
        <li th:if="${pagination.page < pagination.totalRecord}">
            <a th:href="@{/item(page=${pagination.page + 1}, totalPages=${pagination.totalPages}, id=${id})}">다음</a>
        </li>
        <li th:if="${pagination.page < pagination.totalRecord}">
            <a th:href="@{/item(page=${pagination.endPage + 1}, totalPages=${pagination.totalPages}, id=${id})}">></a>
        </li>
    </ul>
</div>
<!-- 바디 부분 끝 -->

</div>
<!--<div class="admin-add-btn">
    <button th:if="${#session != null and #session.getAttribute('id') == 'admin'}"
            onclick="location.href='/admin/item-add'">아이템추가
    </button>
</div>-->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</ul>
</div>


<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/logout :: logout"/>


<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->


<!-- Page level custom scripts -->


</body>

</html>